.footer {
	position: relative;
	top: 80%;
}

#t {
	text-align: center;
	height: 70px;
	width: 40%;
	font-size: 65px; 
}

#t:focus {
	color: white;
	background-color: black;
}

#sc {
	position:relative;
	text-align:center;
	font-size: 2vw;
}

#f {
	position:relative;
	text-align:center;
	top:10%;
}

#btns{
	position:relative;
	text-align:center;
	top:20%;
  
}

.b{
	background-color: white;
	border-color: black;  
  height:5vh;
}
.b:hover{
	background-color: grey;
}


#out {
	font-size: 1.7vw;
}

#banner{
  text-align:center;
  background-color:black;
  color:white;
}
#gnl{
  text-align:right;
}
