<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/room.css">
<h1 id="banner">CubeRooms</h1>
<div id="footer">
</div>
<p id="sc"></p>


<script type="text/javascript" charset="utf-8">
	window.scramble = ""
	
  window.user_name = prompt("Hello. Please enter your name")
		async function send(name,time) {
			var socket = io();
			var ca = time.value
			if (ca != '') 
			{socket.on('connect', function() {
        var x = socket.emit('update', {data: `{"time":"${ca}","name":"${name}","id":${window.id}}`});
				
				
    });
		}
		time.value = '';
		}
	
	function upd(nm){
		var ele = document.getElementById("out")
		ele.innerHTML = ""
		for (const k in nm){

			ele.innerHTML += `${k} : ${nm[k]}<br>`
		}
	}
	var socket = io();
	var ul =new  URLSearchParams(location.search)
	if (ul.get("ID") == "" || ul.get("ID") == null){
		window.focus()
		var uip = prompt("N for new room, or J to join an exsisting room")
		if (uip == "N"){
			window.id = Math.round(Math.random()*100000)
			socket.emit("getIDR",{"data":window.id})
			window.event = prompt("Event: ")
			socket.emit('setEVN',{id:window.id,evn:window.event})
			document.getElementById("footer").innerHTML = (`room ID: ${window.id}`)
			
		}
		else if (uip == "J"){
			window.id = prompt("Please enter the room ID")
			
			document.getElementById("footer").innerHTML = (`room ID: ${window.id}`)
		}
	}
	else{
		
	 window.id =ul.get("ID")
		
	}

	
	socket.on("retupdate",function(msg) {
		inid = msg[1]
		console.log(msg)
		var js = JSON.parse(msg[0]);
		if (inid == window.id){upd(js)}
	})
	socket.on("newscramb",function(s) {
		if (s[1] == window.id){
			window.scramble = s[0];
			document.getElementById("sc").innerHTML = s[0];
		}
	})
	
	
	function cl(){
		var socket = io();
		socket.on('connect', function() {
        var x = socket.emit('newr', {data: window.id});
				
    });

	}
	function chevn() {
    var ev = ["3x3","2x2","4x4","5x5","pyraminx","skewb","clock","3bld"]
		window.event = prompt("Event: ")
    if (ev.includes(window.event)){
		socket.emit('setEVN',{id:window.id,evn:window.event})
    }
    else{
      alert(`${window.event} is not a valid event`)
    }
	}
</script>

<form name='f' id="f">
	<input name="t" id="t" autocomplete="off">
</form>

<script>
	document.getElementById("f").addEventListener("submit", function(e) {
				send(window.user_name,document.forms['f']['t'])
         e.preventDefault();
});

</script>
<div id="btns">

<button onclick="send(window.user_name,document.forms['f']['t'])" class="b">send time</button>

<button onclick="cl()" class="b">new round</button>
<button onclick="chevn()" class="b">change event</button>
</div>

<p id='out'>
	
</p>


