<noscript>
    <h1>This app requires JavaScript to run.<br>
    Please enable JavaScript in the site settings</h1>
</noscript>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/room.css">
<h1 id="banner">CubeRooms</h1>
<div class="footer"><a href="https://github.com/kellantech/cuberooms">Github</a><div id="footer"></div>
<div id="gnl"><button class="b" id='gl'>copy link</button></div>
</div>
<p id="sc"></p>


        
</div>


        
        
<script type="text/javascript" src="/js/room.js">
</script>

<form name='f' id="f">
	<input name="t" id="t" autocomplete="off">
</form>

<script>
	document.getElementById("f").addEventListener("submit", function(e) {
				send(window.user_name,document.forms['f']['t'])
         e.preventDefault();
});

</script>

<div id="btns">

<button onclick="send(window.user_name,document.forms['f']['t'])" class="b">send time</button>

<button onclick="cl()" class="b">new round</button>
	
<select name="event" id="event" class="dd">
  <option value="3x3">3x3</option>
  <option value="2x2">2x2</option>
  <option value="4x4">4x4</option>
  <option value="5x5">5x5</option>
  <option value="pyraminx">pyraminx</option>
  <option value="skewb">skewb</option>
  <option value="clock">clock</option>
  <option value="3bld">3bld</option>
  <option value="megaminx">megaminx</option>
	
</select>
	
<script>
document.getElementById('event').onchange = ()=>{
	chevn(document.getElementById('event').value)		
}

</script>
	
</div>

<p id='out'>
	
</p>


